.pokemon-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 4 columns */
  gap: 8px; /* Adjust gap between grid items */
  padding: 24px 12px 0px 12px; /* Optional padding */
  background-color: #FFFFFF;
  width: 352px;
  height: 524px;
  align-content: flex-start;
  border-radius: 8px;
}
