#root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  width: 380px;
  height: 690px;
  left: 2076px;
  padding: 4px;


  color: rgba(255, 255, 255, 0.87);
  background-color: #DC0A2D;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin: 10px 0;
  }
  
  button {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #ffcb05;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #ff9005;
  }
  
.header{
  flex: content;
  width: 352px;
  height: 108px;
  padding: 12px 12px 24px 12px;
  gap: 8px;
}

.pokefilters{
  display: flex;
}
.pokedex img{
  width: 24px;
  height: 24px;
  padding-right: 2%;
  left: 0.12px
}
.pokedex h1{
  width: 106px;            /* Fixed width */
  height: 32px;            /* Fixed height */
  font-family: 'Poppins', sans-serif; /* Font family Poppins */
  font-weight: 700;        /* Font weight */
  font-size: 24px;         /* Font size */
  line-height: 32px;       /* Line height */
  margin: 0;               /* Reset margin if necessary */
  overflow: hidden;   
}

.pokedex{
  display: flex;
}
  /* Details Styles */
/* .pokemon-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.pokemon-details img {
  width: 150px;
  height: 150px;
}

.pokemon-details h2 {
  margin: 20px 0;
}
 */
